<div class="container-nav pl-62">
    <div class="col-4">
        <h1 class="nav-header">ZenduForms</h1>
    </div>
    <div class="col-7">
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-list"></i>
                Forms
            </span>
        </button>
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-address-book"></i>
                Customers
            </span>
        </button>
        <button class="btn btn-link selected-button">
            <span class="button-text">
                <i class="fa-solid fa-lines-leaning"></i>
                Submissions
            </span>
        </button>
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-clock-rotate-left"></i>
                History
            </span>
        </button>
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-chart-simple"></i>
                Reports
            </span>
        </button>
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-chart-simple"></i>
                Workflow
            </span>
        </button>
    </div>
    <div class="col-1">
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-bell"></i>
            </span>
        </button>
        <button class="btn btn-link">
            <span class="button-text">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </span>
        </button>
    </div>
</div>